body {
margin: 0;
font-family: Arial;
background: #f4f4f4;
}

header {
background: black;
color: white;
padding: 15px;
display: flex;
justify-content: space-between;
}

.products {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
gap: 15px;
padding: 15px;
}

.product {
background: white;
padding: 10px;
border-radius: 10px;
text-align: center;
box-shadow: 0 0 5px #ccc;
}

.product img {
width: 100%;
height: 150px;
object-fit: contain;
}

button {
background: black;
color: white;
border: none;
padding: 8px;
border-radius: 5px;
cursor: pointer;
}

footer {
background: white;
padding: 15px;
text-align: center;
font-size: 18px;
}